appdirs==1.4.4
APScheduler==3.7.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==3.0.4
click==8.0.1
colorama==0.4.4
cssselect==1.1.0
fake-useragent==0.1.11
feedparser==6.0.2
Flask==2.0.1
gcloud==0.17.0
googleapis-common-protos==1.53.0
httplib2==0.19.1
idna==2.7
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
jws==0.1.3
lxml==4.6.3
MarkupSafe==2.0.1
multitasking==0.0.9
nltk==3.6.2
numpy==1.19.5
oauth2client==3.0.0
oauthlib==3.1.1
pandas==1.1.5
pandas-datareader==0.9.0
parse==1.19.0
pep517==0.10.0
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.4.3
pyee==8.1.0
pyparsing==2.4.7
pyppeteer==0.2.5
pyquery==1.4.3
-e git+https://github.com/roobeshbalaji/Pyrebase@591d0cb91ed85d210bb54909ee23f526e070d3bc#egg=Pyrebase
PySocks==1.7.1
python-dateutil==2.8.1
python-jwt==2.0.1
pytz==2021.1
regex==2021.4.4
requests==2.25.0
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.5.4
sgmllib3k==1.0.0
six==1.16.0
sklearn==0.0
soupsieve==2.2.1
textblob==0.15.3
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.61.0
tweepy==3.10.0
tzlocal==2.1
urllib3==1.26.5
w3lib==1.22.0
websockets==8.1
Werkzeug==2.0.1
yahoo-fin==0.8.8
yfinance==0.1.59

